body{
    display: flex;
    flex-direction: column;
    background-image: url('../images/time.jpg');
}
h1{
    align-self: center;
}
div{
    align-self: center;
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transition: transform 0.1s;
}

#layer1 {
    background-image: url('../images/stickmanWatchHappy.webp');
    z-index: 1;
}

#layer2 {
    background-image: url('../images/time.jpg');
    z-index: 2;
    opacity: 0.5; 
}